.fullDance {
  font-size: 18px;
  background-color: #262626;
  height: 136px;
  width: 350px;
  text-align: left;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  .danceTypes {
    align-self: flex-end;
  }
  .fourPlaylist{
    align-self: flex-end;
  }
  .balletDance {
    width: 100%;
    font-size: 28px;
    align-self: flex-start;
  }
}
