.categories {
  margin-top: 60px;
  display: flex;
  margin-left: 176px;
  flex-wrap: wrap;
  text-align: left;
  gap: 24px;
}
.danceStyle {
  font-size: 40px;
  width: 100%;
}
.categoryRow {
  overflow-x: auto;
  display: flex;
  gap: 24px;
}
.contactItems {
  display: flex;
}
